{% extends "::base.html.twig" %}

{% block title %}Login{% endblock %}

{% block extrahead %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="style_login.css" type="text/css" />
{% endblock %}

{% block body %}

  <div class="row" style="width:750px;position: relative;right:-30px;font-family:PingFang SC">
  
  <div class="col-md-6" style="text-align:center;line-height:274px;">
  
	<img class="mb-4" src="images/DOMjudgelogo.png" alt="DOMjudge" width="260">
	</div>


	<div class="col-md-6">
	
	<form class="form-horizonal" style="width:300px;" action="{{ path('login') }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
		
	{% for message in app.session.flashBag.get('notice') %}
      <div class="alert alert-success" role="alert">
      {{ message }}
      </div>
	{% endfor %}

	{% if error %}
      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}
		
		<div class="form-group">
			<h5 class="col-sm-10 control-label">用户名 <small>Username</small></h5>
			<div class="col-sm-10">
				<input type="text" id="username" name="_username" class="form-control" style="box-shadow:inset 0 1px 1px rgba(0,0,0,.075);" placeholder="请输入登录账号" required="" autofocus="">
			</div>
		</div>
		<div class="form-group">
			<h5 class="col-sm-10 control-label">密码 <small>Password</small></h5>
			<div class="col-sm-10">
				<input type="password" id="inputPassword" name="_password" class="form-control" style="box-shadow:inset 0 1px 1px rgba(0,0,0,.075);" placeholder="请输入登录密码" required="">
			</div>
		</div>
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					<label><input type="checkbox"> 保持登陆状态</label>
				</div>	
				<button type="submit" class="btn btn-primary">登录账号</button>
			</div>
	</form>
	</div>
	</div>

  {% if allow_registration %}
  <div>Don't have an account? <a href="{{url('register', {}, true)}}">Register now</a>.</div>
  {% endif %}
  </form>

  {% include '::footer.html.twig' %}
{% endblock %}
